.menu-page {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.menu-heading {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-subheading {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}