* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* links */

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
}

a:hover {
  opacity: 0.8;
}