.about-section {
    text-align: center !important;
    padding: 0rem 2rem;
    background: #f7f8fc;
    margin-top: 5rem;
    
}

.about-section h2 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #111;
}


.about-text {
    max-width: 70rem;
    margin: 0 auto 3rem auto;
    font-size: 1.8rem;
    opacity: 0.8;
    line-height: 1.8;
    color: #444;
}

.about-btn {
    padding: 1.2rem 3rem;
    background: #6366f1;
    color: #fff;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.about-btn:hover {
    background: #6366f1;
    transform: translateY(-2px);
}